.hierarchy {
  flex-shrink: 0;
  overflow-x: hidden;
  z-index: 10;
  right: none;

  .hierarchy-name {
    height: 56px;
    display: flex;
    margin-bottom: 5px;
    cursor: pointer;
    .profile-image {
      margin-left: 12px;
      margin-top: 10px;
      width: 32px;
      height: 32px;
    }
    .text {
      margin-top: 18px;
      margin-left: 12px;
      height: 16px;
      font-family: Pretendard;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #212B36;
    }
  }
  //.hierarchy-name:hover {
  //  background-color: #a1a1a1;
  //}

  .hierarchy-divider {
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 0.5px;
    background-color: #ECEFF2;
  }

  .hierarchy-button-group {
    margin: 9.5px 5px;
    .hierarchy-button {
      display: flex;
      flex-direction: row;
      margin: 2.5px 0px 2.5px 0px;
      padding: 4px;
      border-radius: 8px;
      padding-left: 18px;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
        margin: 2.5px 6px 2.5px 0px;
        fill: #6C7177;
      }
      .text {
        user-select: none;
        margin-top: 2.5px;
        line-height: 20px;
        font-size: 15px;
        font-weight: 600;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
        transition: 0.3s;
      }
    }
    .hierarchy-button.disabled {
      cursor: unset;
      svg {
        fill: #aeaeaf;
      }
      .text {
        color: #6b6b6b;
      }
      &:hover {
        background-color: unset;
        transition: unset;
      }
    }
  }

  .MuiBackdrop-root {
    z-index: 900;
  }

  .MuiDrawer-paper {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 900;
    background-color: #FFFFFF;
    .MuiList-root::-webkit-scrollbar {
      width: 8px;
    }
    .MuiList-root::-webkit-scrollbar-track {
      background: #e7e7e7;
    }
    .MuiList-root::-webkit-scrollbar-thumb {
      background: rgb(209, 209, 209);
      border-radius: 8px;
    }

    .MuiDrawer-paperAnchorDockedLeft {
      border-right: 1px solid #ECEFF2;
    }
    .MuiListItemIcon-root {
      min-width: 25px;
    }
    aside.emoji-picker-react {
      position: absolute;
      margin-top: -20px;
      z-index: 100;
    }
    .MuiListItem-root {
      padding-top: 0px;
      padding-bottom: 0px;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      .child-open-button {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        &:hover {
          background-color: #dddddd;
          transition: 0.3s;
        }
        .MuiSvgIcon-root {
          width: 20px;
          height: 20px;
          font-size: 20px;
          color: inherit;
        }
      }
      .icon-container {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        line-height: 20px;
        font-size: 14.5px;
        //font-size: 15px;
        margin-right: 2px;
        &:hover {
          background-color: #dddddd;
          transition: 0.3s;
        }
        .icon {
          margin: 2px 4px 2px 2px;
          width: 14px;
          height: 14px;
          font-size: 14px;
          line-height: 14px;
        }
      }
      .page-title {
        //position: absolute;
        height: 16px;
        top: calc(50% - 16px/2);
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 0px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        .text {
          display: inline;
          margin-left: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: transparent;
          border:none;
          outline-width: 0;
          color: #26282B;
        }
        .text-opened {
          color: #3A7BBF;
        }
      }
      .menu-button {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        padding: 0px 2px 2px;
        &:hover {
          background-color: #dddddd;
          transition: 0.3s;
        }
        svg {
          width: 16px;
          height: 16px;
          fill: #6b6b6b;
        }
      }
      .add-page-button {
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 1px solid #cccccc;
        &:hover {
          background-color: #dddddd;
          transition: 0.3s;
        }
        .MuiSvgIcon-root {
          width: 18px;
          height: 18px;
          font-size: 18px;
          color: #6b6b6b;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #e7e7e7;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 5px;
  }
}
.mobile-hierarchy-option-drawer {
  height: 100%;
  display: flex;
  flex-direction: column;
  .title {
    display: flex;
    height: 44px;
    border-bottom: 1px solid #ECEFF2;
    background-color: white;
    margin-bottom: 40px;
    .text {
      display: flex;
      margin: 0 auto;
      font-weight: 600;
      justify-content: center;
      align-items: center;
    }
    .close-button {
      position: absolute;
      right: 12px;
      top: 7px;

      color: #0094FF;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
    }
  }
  .option-button-group {
    background-color: white;
    display: flex;
    flex-direction: column;
    .option-button {
      padding: 12px;
      padding-left: 20px;
      svg {
        width: 20px;
        height: 20px;
        margin: 2px 6px 2.5px 0px;
        fill: #6C7177;
      }
      display: flex;
      flex-direction: row;
      border-top: 1px solid #d0d0d0;
      .name {
        line-height: 25px;
      }
    }
  }
  .option-button-group:last-child {
    border-bottom: 1px solid #d0d0d0;
  }
}
.hierarchy-on-off-button {
  position: fixed;
  top: 71px;
  width: 26px;
  height: 26px;
  z-index: 101;
  border-radius: 5px;

  background: #FFFFFF;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  cursor: pointer;
  svg {
    margin: auto auto;
    width: 16px;
    fill: #3A3C3F;
    &:hover {
      fill: #0094FF;
      transition: fill 0.5s;
    }
  }
}
.hierarchy-width-controller {
  position: fixed;
  z-index: 100;
  width: 10px;
  left: 236px;
  cursor: ew-resize;
  height: calc(100vh - 60px);
  top: 56px;
  color: transparent;
}

.hierarchy-width-controller::after {
  position: absolute;
  width: 8px;
  height: calc(100vh - 60px);
  z-index: 100;
  cursor: ew-resize;
  content: '';
  color: transparent;
  left: -4px;
}

.drag-indicator {
  position: absolute;
  background-color: #B9E2FF;
  height: 3px;
  visibility: hidden;
  width: 100%;
}

.drag-indicator-tooltip {
  z-index: 10000;
  visibility: hidden;
}
