.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  z-index: 1000;
  min-width: 200px;

  background: #FFFFFF;

  border: 1px solid #DCE1E5;
  box-sizing: border-box;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  color: #131415;
  transition: 0.3s;
  .text {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    flex: none;
    order: 0;
    flex-grow: 1;
    text-align: left;
  }

  &:hover {
    background: #F2F3F5;
    color: #3A7BBF;
  }
}
