.mobile-column-drawer {
  height: 100%;
  display: flex;
  flex-direction: column;
  .title {
    position: sticky;
    top: 0px;
    display: flex;
    height: 44px;
    border-bottom: 1px solid #ECEFF2;
    background-color: white;
    margin-bottom: 40px;
    .text {
      display: flex;
      margin: 0 auto;
      font-weight: 600;
      justify-content: center;
      align-items: center;
    }
    .close-button {
      position: absolute;
      right: 12px;
      top: 7px;

      color: #0094FF;
      font-weight: 600;
      height: 30px;
      line-height: 30px;
    }
  }
  .element {
    padding: 12px 12px 12px 20px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d0d0d0;
    svg {
      width: 20px;
      height: 20px;
      margin: 2px 12px 2.5px 0px;
      fill: #6C7177;
    }
    .name {
      line-height: 25px;
    }
  }
  .element:last-child {
    border-bottom: 1px solid #d0d0d0;
  }
  .group {
    background-color: white;
    display: flex;
    flex-direction: column;
  }
}
