.setting-modal {
  width: 1200px;
  .setting-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #3A3C3F;
    font-size: 14px;
    color: white;
    padding: 1px 10px;
  }
  .setting-category {
    background-color: #FAFAFB;
    width: 200px;
    height: 600px;
    padding-top: 15px;
    //border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .category-group-name {
      color: #a1a1a1;
      margin-left: 16px;
      user-select: none;
      margin-bottom: 3px;
    }
    .category {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      justify-content: flex-start;
      align-items: center;
      height: 30px;
      border-radius: 8px;
      padding-left: 8px;
      cursor: pointer;
      margin-left: 8px;
      margin-right: 8px;
      svg {
        width: 20px;
        height: 20px;
        fill: #131415;
      }
      .text {
        margin-left: 10px;
        color: #131415;
        height: 15px;
        user-select: none;
        font-size: 15px;
        line-height: 15px;
        font-weight: 600;
        outline-width: 0;
      }
    }
    .category:hover {
      background: rgba(0, 0, 0, 0.04)
    }
    .category.selected {
      background-color: rgba(0, 0, 0, 0.08);
      .text {
        color: #3A7BBF;
      }
    }
  }
  .ant-modal-content {
    padding: 0px;
  }
  .setting-body {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-left: 50px;
    padding-right: 80px;
    width: 800px;
    .setting-name {
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    .blog-name {
      width: 600px;
      margin-bottom: 25px;
    }

    .profile-image {
      position: relative;
      margin: 0px;
      margin-bottom: 25px;
      .image {
        width: 200px;
        height: 200px;
        font-size: 100px;
        cursor: pointer;
      }
      .edit {
        position: absolute;
        display: inline;
        font-size: 14px;
        background-color: rgba(55, 53, 47, 0.7);
        color: rgb(241, 241, 241);
        padding: 4px;
        bottom: 30px;
        border-radius: 4px;
        width: 120px;
        text-align: center;
        left: 40px;
        margin: 0 auto;
        cursor: pointer;
        pointer-events: none;
      }
    }
    .biography {
      width: 600px;
      margin-bottom: 25px;
      .ant-input {
        height: 30px;
        padding: 4px 8px;
      }
      .button-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 10px;
      }
    }

    .switch-setting {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .text-container {
        display: flex;
        flex-direction: column;
        .main {
          font-size: 16px;
        }
      }
    }
  }

}
