.auth-page {
    display: block;
    .logo {
        display: block;
        margin: 0 auto;
        margin-top: 200px;
        width: 300px;
    }
    .title {
        margin: 0 auto;
        width: 300px;
        text-align: center;
        color: rgb(66, 66, 66);
        font-size: 22px;
        font-weight: 800;
        margin-top: -30px;
        margin-bottom: 1.375rem;
    }
    .MuiInputBase-root {
        width: 100%;
    }
    .login-button {
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .sign-up-button {
        width: 300px;
        display: block;
        margin: 0 auto;
    }
    .helper-text {
        margin: 0 auto;
        width: 300px;
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
        color: rgb(66, 66, 66);
    }
    .auth-page-input {
        height: 76px;
        .input-field {
            width: 300px;
            display: block;
            margin: 0 auto;
        }
    }
}

.sign-in-page {
    .reset-password-container {
        margin: 0 auto;
        width: 300px;
        display: block;
        height: 35px;
        margin-top: -15px;
        .reset-password {
            margin-top: 0px;
            padding: 3px;
            float: right;
            .MuiButton-label {
                text-align: right;
            }
        }
    }

}

.change-password-request-page {
    .sub-title {
        margin: 0 auto;
        width: 300px;
        color: rgb(66, 66, 66);
        font-size: 15px;
        margin-bottom: 0.875rem;
    }
    .email-helper-text {
        margin: 0 auto;
        width: 300px;
        color: red;
        font-size: 13px;
    }
}