.auth-header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px rgba(145, 158, 171, 0.12);
  user-select: none;
}
.auth-header .logo {
  display: block;
  margin: 14px auto auto;
  width: 103px;
  height: 28px;
  cursor: pointer;
}

.auth-container {
  position: absolute;
  top: 104px;
  left: calc(50vw - 200px);
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 8px;
  width: 400px;
  padding: 40px;
}
.auth-container .title {
  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #131415;
  margin-bottom: 40px;
  user-select: none;
}
.auth-container .change-password-description {
  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5F6871;
  margin: 0 auto;
  margin-top: 11px;
  width: 290px;
}

.auth-button {
  width: 320px;
  height: 52px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}
.auth-button .text {
  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: auto auto;
  user-select: none;
}

.auth-button.primary {
  background: #3A7BBF;
  color: #FFFFFF;
}
.auth-button.primary:hover {
  background: #2E639A;
}
.auth-button.primary:active {
  background: #183451;
}

.auth-button.primary-stroke {
  background: #FFFFFF;
  color: #2E639A;
}
.auth-button.primary-stroke:hover {
  background: #E8EBED;
}
.auth-button.primary-stroke:active {
  background: #D6E6F6;
}

.auth-sub-button {
  margin: 0 auto;
  width: fit-content;
  display: block;
  height: fit-content;
  padding: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-align: center;
  color: #212B36;
  text-align: center;
  cursor: pointer;
}

.auth-input {
  width: 100%;
}
.auth-input .MuiFilledInput-root {
  background-color: #FFFFFF;
}

.auth-page {
  width: 100%;
  height: 100%;
  background-color: #E5E5E5;
}
.auth-page .MuiInputBase-root {
  width: 100%;
}
.auth-page .helper-text {
  width: 300px;
  display: block;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  margin: 8px auto 4px 10px;
  color: rgb(66, 66, 66);
}
.auth-page .auth-page-input {
  height: 76px;
}
.auth-page .auth-page-input .input-field {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.auth-page .auth-container.loading {
  padding: 180px;
}
.auth-page .auth-container.loading .MuiCircularProgress-svg {
  color: #0094FF;
}

.notice-email-auth-page .title {
  margin-bottom: 10px;
}
.notice-email-auth-page .icon {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}
.notice-email-auth-page .icon svg {
  margin: auto auto;
  width: 80px;
  height: 80px;
  fill: #7AACE0;
}
.notice-email-auth-page .description {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.notice-email-auth-page .auth-sub-button {
  margin-top: 40px;
}

/*# sourceMappingURL=auth.css.map */
