.page-list-container {
  width: fit-content;
  margin: 20px auto 100px;
}
.page-list-container .list-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 5px;
}

.comment-container {
  margin-top: 20px;
  width: 100%;
}
.comment-container .comment-count {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.comment-container .page-comment {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}
.comment-container .page-comment .main-container {
  display: flex;
  flex-direction: row;
}
.comment-container .page-comment .main-container .avatar-container {
  cursor: pointer;
}
.comment-container .page-comment .main-container .text-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 100%;
}
.comment-container .page-comment .main-container .text-container .top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comment-container .page-comment .main-container .text-container .top-container .info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.comment-container .page-comment .main-container .text-container .top-container .info-container .nickname {
  user-select: none;
  font-size: 14px;
  margin-right: 5px;
  cursor: pointer;
}
.comment-container .page-comment .main-container .text-container .top-container .info-container .created-at {
  user-select: none;
  color: #a1a1a1;
  font-size: 14px;
}
.comment-container .page-comment .main-container .text-container .content {
  font-size: 15px;
}
.comment-container .page-comment .main-container .text-container .comment-interaction-container {
  display: flex;
  flex-direction: row;
}
.comment-container .page-comment .main-container .text-container .comment-interaction-container .comment-response-input-button {
  cursor: pointer;
  color: #a1a1a1;
  font-size: 13px;
}
.comment-container .page-comment .main-container .text-container .comment-response-button {
  margin-left: -5px;
  color: #0094FF;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-top: 3px;
}
.comment-container .comment-input-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}
.comment-container .comment-input-container .profile {
  margin-right: 15px;
}
.comment-container .comment-input-container .interaction-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment-container .comment-input-container .interaction-container .comment-input {
  font-size: 16px;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
  padding-left: 0px;
}
.comment-container .comment-input-container .interaction-container .button-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
}

.blog-user-info {
  display: flex;
  flex-direction: row;
  margin: 50px auto 0;
  width: 800px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dfe2e5;
}
.blog-user-info .profile-container {
  width: 120px;
  height: 120px;
  margin-right: 80px;
}
.blog-user-info .profile-container .profile-image {
  width: 120px;
  height: 120px;
}
.blog-user-info .text-container {
  display: flex;
  flex-direction: column;
}
.blog-user-info .text-container .main-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.blog-user-info .text-container .main-container .nickname {
  line-height: 30px;
  font-size: 24px;
  margin-right: 20px;
}
.blog-user-info .text-container .main-container .profile-setting-button {
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  padding: 7px 9px;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 0.8rem;
  border: 1px solid transparent;
  margin: auto 0;
  background-color: transparent;
  color: inherit;
  border: 1px solid #bebebe;
}
.blog-user-info .text-container .follow-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.blog-user-info .text-container .follow-info-container .info {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
}
.blog-user-info .text-container .follow-info-container .info .name {
  margin-right: 5px;
}
.blog-user-info .text-container .follow-info-container .info .text {
  min-width: 50px;
  font-weight: 600;
}

.page-column-component {
  display: flex;
  flex-direction: row;
  height: 152px;
  width: 800px;
  margin: 12px 0px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.page-column-component .thumbnail {
  width: 250px;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
}
.page-column-component .thumbnail img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
}
.page-column-component .thumbnail .text {
  justify-content: center;
  color: white;
  margin: auto auto;
  user-select: none;
  font-size: 20px;
  font-weight: 600;
  max-width: 200px;
  line-height: 30px;
  max-height: 60px;
  text-align: center;
}
.page-column-component .text-container {
  width: 550px;
  padding: 10px 21px;
  display: flex;
  flex-direction: column;
}
.page-column-component .text-container .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 20px;
}
.page-column-component .text-container .last-edited-at {
  font-size: 12px;
  color: #9DA7B0;
  margin-bottom: 5px;
}
.page-column-component .text-container .user-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: fit-content;
  margin-bottom: 5px;
}
.page-column-component .text-container .user-container .profile-image {
  margin-right: 4px;
  border-radius: 10px;
}
.page-column-component .text-container .user-container .nickname {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.page-column-component .text-container .description {
  font-size: 13.5px;
  line-height: 18px;
  height: 40px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
.page-column-component .number-container {
  display: flex;
  flex-direction: row;
}
.page-column-component .number-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 12px;
}
.page-column-component .number-container .container svg {
  fill: #9DA7B0;
}
.page-column-component .number-container .container .text {
  font-size: 13px;
  color: #6C7177;
  line-height: 20px;
  margin-left: 4px;
}

.page-cell-component {
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 320px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}
.page-cell-component .thumbnail {
  width: 100%;
  height: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
}
.page-cell-component .thumbnail img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
}
.page-cell-component .thumbnail .text {
  justify-content: center;
  color: white;
  margin: auto auto;
  user-select: none;
  font-size: 20px;
  font-weight: 600;
  max-width: 200px;
  line-height: 30px;
  max-height: 60px;
  text-align: center;
}
.page-cell-component .text-container {
  padding: 21px 15px 12px;
  display: flex;
  flex-direction: column;
}
.page-cell-component .text-container .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 20px;
}
.page-cell-component .text-container .last-edited-at {
  font-size: 12px;
  color: #9DA7B0;
  right: 0px;
}
.page-cell-component .text-container .user-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: fit-content;
}
.page-cell-component .text-container .user-container .profile-image {
  margin-right: 4px;
  border-radius: 10px;
}
.page-cell-component .text-container .user-container .nickname {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.page-cell-component .text-container .description {
  font-size: 13.5px;
  line-height: 20px;
  height: 60px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.page-cell-component .divider {
  background-color: #ECEFF2;
  height: 1px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 12px;
}
.page-cell-component .number-container {
  display: flex;
  flex-direction: row-reverse;
}
.page-cell-component .number-container .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 12px;
}
.page-cell-component .number-container .container svg {
  fill: #9DA7B0;
}
.page-cell-component .number-container .container .text {
  font-size: 13px;
  color: #6C7177;
  line-height: 20px;
  margin-left: 4px;
}

.blog-user-content {
  position: fixed;
  overflow-y: scroll;
}

.blog-user-content::-webkit-scrollbar {
  width: 10px;
}

.blog-user-content::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.blog-user-content::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 5px;
}

.like-button {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid #C9CDD2;
  width: fit-content;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}
.like-button .icon.filled svg {
  fill: red;
}
.like-button .count {
  margin-left: 5px;
  min-width: 40px;
  font-size: 14px;
  user-select: none;
}

/*# sourceMappingURL=blog.css.map */
