.contents {
    width: 800px;
    margin-left: 30vw;
    margin-top: 160px;

    .MuiButton-root.Mui-disabled {
        color: #000000;
    }
    .icon {
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        .MuiButton-label {
            padding: 10px;
            font-size: 60px;
        }
    }
    aside.emoji-picker-react {
        position: absolute;
        margin-top: -20px;
        z-index: 100;   
    }
    .title {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 0.3em;
    }
    .text {
        margin: 0px;
        padding: 3px;
    }
    .head1 {
        margin-top: 0.8em;
        font-size: 2em;
        font-weight: 600;
    }
    .head2 {
        margin-top: 0.8em;
        font-weight: 600;
        font-size: 1.75em;
    }
    .head3 {
        margin-top: 0.8em;
        font-weight: 600;
        font-size: 1.25em;
    }
    .content1 {
        font-size: 1.25em;
    }
    .content2 {
        font-size: 1.125em;
    }
    .content3 {
        font-size: 1em;
    }
    .textline {
        .MuiInputBase-input {
            font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
            helvetica, 'Apple SD Gothic Neo', sans-serif !important;
            color: rgb(34, 36, 38);
        }
        .MuiInput-underline {
            border-bottom: none !important
        }
        .MuiInput-underline::before {
            border-bottom: none !important
        }
        .MuiInput-underline::after {
            border-bottom: none !important
        }
    }
    .normal-text {
        font-size: 1.125rem;
    }
    .content-for-empty-document {
        font-size: 1.5rem;
    }
    blockquote {
        border-left: 2px
        solid #ddd;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        color: #aaa;
        font-style: italic;
    }
    ul {
        list-style: disc;
        margin-left: -20px;
        li::marker {
            color: rgb(55, 53, 47);
        }
        li {
            p {
                margin-bottom: 5px;
            }
        }
        ul {
            border-left: 1px solid rgb(204, 204, 204);
            margin-left: -12px;
        }
    }
    .react-draggable {
        transform: none !important;
    }
    .image-adjust-button {
        position: absolute;
        top: -45px;
        height: 36px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(214, 214, 214);
        border-radius: 4px;
        box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        display: flex;
        padding: 6px;
        .button {
            color: inherit;
            width: 24px;
            height: 24px;
            margin-left: 3px;
            margin-right: 3px;
            cursor: pointer;
            .MuiSvgIcon-root {
                width: 100%;
                height: 100%;
            }
        }
        .inactive {
            color: rgb(161, 161, 161);
        }
    }
    .image-resize-dot {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #fcfcfc;
        border: 1.5px solid black;
        position: absolute;
    }
    .link {
        color: rgb(104, 104, 104);
        border-bottom: 1px solid rgb(104, 104, 104);
    }
    .content-footer {
        width: 100%;
        height: 20vh;
    }
}
.hovering-toolbar {
    padding: 6px;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    opacity: 0;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    transition: opacity 0.75s;
    height: 36px;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    .button {
        color: inherit;
        width: 24px;
        height: 24px;
        cursor: pointer;
        .MuiSvgIcon-root {
            width: 100%;
            height: 100%;
        }
    }
    .divider {
        width: 1px;
        height: 100%;
        margin: 0px;
        margin-left: 6px;
        margin-right: 6px;
        background-color: rgb(190, 190, 190);
    }
    .inactive {
        color: rgb(161, 161, 161);
    }
    .link-button {
        display: inline-block;
        height: 24px;
        color: inherit;
        cursor: pointer;
        margin: 0px;
        .MuiSvgIcon-root {
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }
        .text {
            display: inline-block;
            position: relative;
            line-height: 24px;
            margin: 0px;
            transform: translateY(-6px);
            user-select: none;
        }
    }
}
.link-input-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    user-select: none;
    background-color: transparent;
    .link-input {
        padding: 10px;
        position: absolute;
        z-index: 1;
        top: -10000px;
        left: -10000px;
        margin-top: -6px;
        opacity: 0;
        background-color: rgb(250, 250, 250);
        border-radius: 4px;
        transition: opacity 0.75s;
        width: 300px;
        height: 54.2px;
        box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

        .MuiAutocomplete-root {
            // height: 44px;
            border-color: #00000000;  
        }
        .MuiAutocomplete-endAdornment {
            .MuiSvgIcon-root {
                color: #00000000;
            }
        }

        .MuiInputBase-root {
            padding: 0px;
            padding-right: 15px;
            font-size: 0.8rem;
        }
        .MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
            padding: 0px;
        }

        .MuiFormControl-root {
            margin: 0px;
            // .MuiAutocomplete-inputFocused {
            //     border-color: #00000000;   
            // }
            // .MuiOutlinedInput-notchedOutline {
            //     border-color: #00000000; 
            // }
            // .MuiInput-underline:before {
            //     border-bottom-color: #00000000;
            // }
            // .MuiInput-underline:after {
            //     border-bottom-color: #00000000;
            // }
            // .MuiInput-underline:hover:not(.Mui-disabled):before {
            //     border-bottom-color: #00000000;
            // }
            // .MuiSvgIcon-root {
            //     font-size: 1.2rem;
            // }
        }
    }
}
.command-list {
    width: 300px;
    top: -9999px;
    left: -9999px;
    position: absolute;
    z-index: 1;
    padding: 3px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    .command-block {
        display: flex;
        padding: 1px 3px;
        border-radius: 3px;
        .command-img {
            margin: 3px;
            margin-left: 6px;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid rgb(196, 196, 196);
        }
        .text-container {
            margin-left: 4px;
            margin-top: 3px;
            margin-bottom: 3px;
            .name {
                color: inherit;
                font-size: 15px;
                margin: 0px;
                height: 25px;
            }
            .description {
                color: rgb(100, 100, 100);
                width: 250px;
                height: 25px;
                font-size: 13px;
                margin: 0px;
            }
        }
    }
    .command-block.selected {
        background: rgb(238, 238, 238)
    }
}
    