.contents {
    width: 800px;
    margin: auto;
    margin-top: 150px;
    .title {
        font-size: 40px;
        font-weight: 800;
    }
    .textline {
        .MuiInputBase-input {
            font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
            helvetica, 'Apple SD Gothic Neo', sans-serif !important;
            color: rgb(34, 36, 38);
        }
        .MuiInput-underline {
            border-bottom: none !important
        }
        .MuiInput-underline::before {
            border-bottom: none !important
        }
        .MuiInput-underline::after {
            border-bottom: none !important
        }
    }
    .normal-text {
        font-size: 1.125rem;
    }
}