@charset "UTF-8";
.content-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
}
.content-container .content-body {
  position: fixed;
  overflow-y: scroll;
  transition: top 0.25s;
  scroll-padding: 100px;
}
.content-container .content-body .contents {
  margin-top: 8vh;
}
.content-container .content-body .contents .MuiButton-root.Mui-disabled {
  color: #000000;
}
.content-container .content-body .contents .icon {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.content-container .content-body .contents .icon .MuiButton-label {
  padding: 10px;
  font-size: 60px;
}
.content-container .content-body .contents aside.emoji-picker-react {
  position: absolute;
  margin-top: -20px;
  z-index: 100;
}
.content-container .content-body .contents .title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}
.content-container .content-body .contents .text {
  margin: 0px;
  padding: 3px;
}
.content-container .content-body .contents .youtube-element .video {
  width: -webkit-fill-available;
}
.content-container .content-body .contents .selected-empty-text {
  position: relative;
}
.content-container .content-body .contents .selected-empty-text:after {
  content: "명령어 사용 /";
  font-size: 1em;
  color: #aaa;
  position: absolute;
  top: 3px;
  cursor: text;
}
.content-container .content-body .contents .head1 {
  margin-top: 0.8rem;
  font-size: 2em;
  font-weight: 600;
}
.content-container .content-body .contents .head2 {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.75rem;
}
.content-container .content-body .contents .head3 {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.25rem;
}
.content-container .content-body .contents .content1 {
  font-size: 1.25rem;
}
.content-container .content-body .contents .content2 {
  font-size: 1.125rem;
}
.content-container .content-body .contents .content3 {
  font-size: 1rem;
}
.content-container .content-body .contents .textline .MuiInputBase-input {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif !important;
  color: #222426;
}
.content-container .content-body .contents .textline .MuiInput-underline {
  border-bottom: none !important;
}
.content-container .content-body .contents .textline .MuiInput-underline::before {
  border-bottom: none !important;
}
.content-container .content-body .contents .textline .MuiInput-underline::after {
  border-bottom: none !important;
}
.content-container .content-body .contents .normal-text {
  font-size: 1.125rem;
}
.content-container .content-body .contents .content-for-empty-document {
  font-size: 1.5rem;
}
.content-container .content-body .contents blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}
.content-container .content-body .contents ul {
  list-style: disc;
  margin-left: -15px;
  -moz-margin-left: -20px;
}
.content-container .content-body .contents ul li::marker {
  color: inherit;
}
.content-container .content-body .contents ul li p {
  margin-bottom: 5px;
}
.content-container .content-body .contents ul ul {
  border-left: 1px solid #cccccc;
  margin-left: -12px;
}
.content-container .content-body .contents ol {
  margin-left: -15px;
  -moz-margin-left: -20px;
}
.content-container .content-body .contents ol li::marker {
  color: inherit;
}
.content-container .content-body .contents ol li p {
  margin-bottom: 5px;
}
.content-container .content-body .contents ol ol {
  border-left: 1px solid #cccccc;
  margin-left: -12px;
}
.content-container .content-body .contents div > .check-list {
  margin-left: -20px;
  padding-left: 25px;
}
.content-container .content-body .contents .check-list {
  list-style-type: none;
}
.content-container .content-body .contents .check-list ul {
  border-left: unset;
}
.content-container .content-body .contents .check-list .box {
  left: -5px;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  margin-left: -19px;
  background-color: transparent;
  border: 2px solid #aaaaaa;
  cursor: pointer;
}
.content-container .content-body .contents .check-list .box:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.content-container .content-body .contents .react-draggable {
  transform: none !important;
}
.content-container .content-body .contents .image-adjust-button {
  position: absolute;
  top: -45px;
  height: 36px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  display: flex;
  padding: 6px;
}
.content-container .content-body .contents .image-adjust-button .button {
  color: inherit;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.content-container .content-body .contents .image-adjust-button .button .MuiSvgIcon-root {
  width: 100%;
  height: 100%;
}
.content-container .content-body .contents .image-adjust-button .inactive {
  color: #a1a1a1;
}
.content-container .content-body .contents .image-resize-dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fcfcfc;
  border: 1.5px solid black;
  position: absolute;
}
.content-container .content-body .contents .image-element .caption {
  margin-top: 2px;
  text-align: center;
  border: unset;
  font-size: 14px;
  padding: 0px;
  color: #a1a1a1;
  user-select: none;
}
.content-container .content-body .contents .image-element .caption:focus {
  border: auto;
}
.content-container .content-body .contents .image-element .caption:hover {
  user-select: auto;
}
.content-container .content-body .contents .link {
  color: #686868;
  border-bottom: 1px solid #686868;
}
.content-container .content-body .contents .link.selected {
  border: 2px solid #b0b0b0;
  border-radius: 2px;
}
.content-container .content-body .contents .code {
  padding: 20px;
  border-radius: 5px;
  background: #f3f3f3;
}
.content-container .content-body .contents .divider-container {
  position: relative;
  width: 100%;
  height: 2em;
  user-select: none;
}
.content-container .content-body .contents .divider-container .divider {
  position: absolute;
}
.content-container .content-body .contents .divider-container .line-divider {
  margin-top: calc(1em - 0.5px);
  margin-bottom: calc(1em - 0.5px);
  height: 1px;
}
.content-container .content-body .contents .divider-container .long-line-divider {
  background-color: #37352f;
  width: 90%;
  margin-left: 5%;
}
.content-container .content-body .contents .divider-container .faint-long-line-divider {
  background-color: #b4b4b4;
  width: 90%;
  margin-left: 5%;
}
.content-container .content-body .contents .divider-container .short-line-divider {
  background-color: #37352f;
  width: 20%;
  margin-left: 40%;
}
.content-container .content-body .contents .divider-container .faint-short-line-divider {
  background-color: #b4b4b4;
  width: 20%;
  margin-left: 40%;
}
.content-container .content-body .contents .divider-container .dot-divider {
  width: 10%;
  margin-left: 45%;
  margin-top: calc(3em - 2.5px);
  margin-bottom: calc(3em - 2.5px);
  height: 5px;
  display: flex;
}
.content-container .content-body .contents .divider-container .dot-divider .dot {
  background-color: #37352f;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
.content-container .content-body .contents .divider-container .dot-divider .dot-1 {
  margin-right: calc(50% - 7.5px);
}
.content-container .content-body .contents .divider-container .dot-divider .dot-3 {
  margin-left: calc(50% - 7.5px);
}
.content-container .content-body .contents .document {
  position: relative;
  margin: 10px;
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
}
.content-container .content-body .contents .document .icon {
  width: fit-content;
  height: fit-content;
  padding: 2.5px;
  font-size: 1em;
  margin: 0px;
}
.content-container .content-body .contents .document .text {
  color: #686868;
  text-decoration: underline;
  font-size: 1em;
}
.content-container .content-body .contents .document:hover {
  background: #ececec;
}
.content-container .content-footer {
  width: 100%;
  height: 20vh;
}

.content-container::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.content-body::-webkit-scrollbar {
  width: 10px;
}

.content-body::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.content-body::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 5px;
}

/*# sourceMappingURL=contents.css.map */
