@charset "UTF-8";
.page-user-info-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.page-user-info-container .page-user-info {
  display: flex;
  flex-direction: row;
}
.page-user-info-container .page-user-info .user-info {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 4px 8px 4px 0px;
  border-radius: 4px;
}
.page-user-info-container .page-user-info .user-info .profile {
  margin-right: 10px;
}
.page-user-info-container .page-user-info .user-info .nickname {
  line-height: 30px;
}
.page-user-info-container .page-info {
  font-size: 14px;
  color: #a1a1a1;
  line-height: 38px;
  margin-left: 4px;
}

.remote-cursor-overlay {
  position: relative;
  display: flex;
}
.remote-cursor-overlay .remote-selection {
  position: absolute;
  pointer-events: none;
}
.remote-cursor-overlay .caret {
  position: absolute;
  width: 0.125rem;
}
.remote-cursor-overlay .caret .label {
  position: absolute;
  color: white;
  white-space: nowrap;
  top: 0;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.25rem;
  border-bottom-left-radius: 0;
}

.content-container {
  position: fixed;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
}
.content-container .info-divider {
  margin-top: calc(0.5em - 0.5px);
  margin-bottom: calc(1em - 0.5px);
  background-color: #C9CDD2;
  height: 1px;
  width: 100%;
}
.content-container .page-tag-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-container .page-tag-list-container .ant-tag {
  font-size: 16px;
  line-height: 28px;
  color: #0094FF;
  border-radius: 13.5px;
  padding: 2px 12px;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #F7F8F9;
  display: flex;
  align-items: center;
}
.content-container .page-tag-list-container .tag-input {
  border: none;
  outline: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
.content-container .content-body {
  position: fixed;
  overflow-y: scroll;
  transition: top 0.25s;
  scroll-padding: 100px;
}
.content-container .content-body .contents {
  margin-top: 80px;
}
.content-container .content-body .contents .MuiButton-root.Mui-disabled {
  color: #000000;
}
.content-container .content-body .contents .editor {
  width: 100%;
}
.content-container .content-body .contents .editor .text {
  margin: 0px;
  padding: 3px 3px 3px 0px;
  white-space: pre-wrap;
  word-break: break-all;
}
.content-container .content-body .contents .menu-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
  padding: 1px 4px 4px;
  border-radius: 4px;
  background-color: rgba(58, 60, 63, 0.8);
  transition: all 0.3s;
  cursor: pointer;
}
.content-container .content-body .contents .menu-button svg {
  width: 100%;
  height: 100%;
  fill: rgba(255, 255, 255, 0.9);
}
.content-container .content-body .contents .menu-button:hover {
  background-color: rgba(58, 60, 63, 0.6);
}
.content-container .content-body .contents code {
  background: rgba(135, 131, 120, 0.15);
  color: #0094FF;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.content-container .content-body .contents .file-loading {
  flex-direction: row;
  background-color: #D6E6F6;
  padding: 8px;
  border-radius: 5px;
}
.content-container .content-body .contents .file-loading .progress {
  margin: 10px 16px 10px 10px;
  height: 24px;
  user-select: none;
}
.content-container .content-body .contents .file-loading .text {
  font-size: 14px;
  color: #545454;
  user-select: none;
}
.content-container .content-body .contents .image-element {
  position: relative;
}
.content-container .content-body .contents .bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ECEFF2;
  height: min-content;
  overflow: auto;
  cursor: pointer;
  margin: 10px 0px;
}
.content-container .content-body .contents .bookmark .text-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 16px 24px 16px 16px;
  font-size: 15px;
  line-height: 15px;
}
.content-container .content-body .contents .bookmark .text-container .title {
  margin-bottom: 10px;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content-container .content-body .contents .bookmark .text-container .description {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow-y: hidden;
  line-height: 16px;
  max-height: 32px;
  color: #7e7e7e;
  margin-bottom: 10px;
  user-select: none;
}
.content-container .content-body .contents .bookmark .text-container .url-container {
  display: flex;
  flex-direction: row;
}
.content-container .content-body .contents .bookmark .text-container .url-container .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.content-container .content-body .contents .bookmark .text-container .url-container .url {
  white-space: nowrap;
  line-height: 16px;
  overflow-x: hidden;
  font-size: 12px;
  user-select: none;
  text-overflow: ellipsis;
}
.content-container .content-body .contents .bookmark .image-container {
  width: 30%;
  position: relative;
  max-height: 100%;
}
.content-container .content-body .contents .bookmark .image-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1px;
}
.content-container .content-body .contents .file {
  position: relative;
  border-radius: 5px;
  user-select: none;
  user-focus: none;
  transition: background-color 0.25s;
}
.content-container .content-body .contents .file .name {
  line-height: 25px;
  margin: 0px 5px 0px 2px;
  user-select: none;
  user-focus: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content-container .content-body .contents .file .size {
  font-size: 12px;
  user-select: none;
  user-focus: none;
  margin-top: 5px;
}
.content-container .content-body .contents .file .menu-button {
  background-color: transparent;
}
.content-container .content-body .contents .file .menu-button svg {
  fill: rgba(138, 138, 138, 0.9);
}
.content-container .content-body .contents .file .menu-button:hover {
  background-color: rgba(189, 189, 189, 0.4);
}
.content-container .content-body .contents .video-element {
  position: relative;
}
.content-container .content-body .contents .file:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
.content-container .content-body .contents .header-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.content-container .content-body .contents .header-icon .MuiButton-label {
  padding: 10px;
  font-size: 60px;
}
.content-container .content-body .contents aside.emoji-picker-react {
  position: absolute;
  margin-top: -20px;
  z-index: 100;
}
.content-container .content-body .contents .title {
  font-weight: 800;
  margin-bottom: 0.3rem;
  word-break: keep-all;
}
.content-container .content-body .contents .youtube-element .video {
  width: -webkit-fill-available;
}
.content-container .content-body .contents .selected-empty-text {
  position: relative;
}
.content-container .content-body .contents .selected-empty-text:after {
  content: "명령어 사용 /";
  font-size: 1em;
  color: #aaa;
  position: absolute;
  top: 3px;
  cursor: text;
}
.content-container .content-body .contents .selected-empty-text-align-right {
  position: relative;
}
.content-container .content-body .contents .selected-empty-text-align-right::after {
  content: "명령어 사용 /";
  font-size: 1em;
  color: #aaa;
  position: absolute;
  width: fit-content;
  transform: translateX(-100%);
  top: 3px;
  cursor: text;
}
.content-container .content-body .contents .head1 {
  margin-top: 0.8rem;
  font-size: 2em;
  font-weight: 600;
}
.content-container .content-body .contents .head2 {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.75rem;
}
.content-container .content-body .contents .head3 {
  margin-top: 0.8rem;
  font-weight: 600;
  font-size: 1.25rem;
}
.content-container .content-body .contents .content1 {
  font-size: 1.25rem;
}
.content-container .content-body .contents .content2 {
  font-size: 1.125rem;
}
.content-container .content-body .contents .content3 {
  font-size: 1rem;
}
.content-container .content-body .contents .textline .MuiInputBase-input {
  color: rgb(34, 36, 38);
}
.content-container .content-body .contents .textline .MuiInput-underline {
  border-bottom: none !important;
}
.content-container .content-body .contents .textline .MuiInput-underline::before {
  border-bottom: none !important;
}
.content-container .content-body .contents .textline .MuiInput-underline::after {
  border-bottom: none !important;
}
.content-container .content-body .contents .normal-text {
  font-size: 1.125rem;
}
.content-container .content-body .contents .content-for-empty-document {
  font-size: 1.5rem;
}
.content-container .content-body .contents blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}
.content-container .content-body .contents ul {
  list-style: disc;
  margin-left: -18px;
  -moz-margin-left: -23px;
}
.content-container .content-body .contents ul li::marker {
  color: inherit;
}
.content-container .content-body .contents ul li p {
  margin-bottom: 5px;
}
.content-container .content-body .contents ul ul {
  border-left: 1px solid rgb(204, 204, 204);
  margin-left: -15px;
}
.content-container .content-body .contents ol {
  margin-left: -18px;
  -moz-margin-left: -23px;
}
.content-container .content-body .contents ol li::marker {
  color: inherit;
}
.content-container .content-body .contents ol li p {
  margin-bottom: 5px;
}
.content-container .content-body .contents ol ol {
  border-left: 1px solid rgb(204, 204, 204);
  margin-left: -12px;
}
.content-container .content-body .contents div > .check-list {
  margin-left: -26px;
  padding-left: 25px;
}
.content-container .content-body .contents .check-list {
  list-style-type: none;
}
.content-container .content-body .contents .check-list ul {
  border-left: unset;
}
.content-container .content-body .contents .check-list .check-list {
  margin-left: 0px;
}
.content-container .content-body .contents .check-list input[type=checkbox] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 1px solid #9DA7B0;
  border-radius: 3px;
  cursor: pointer;
}
.content-container .content-body .contents .check-list input[type=checkbox]:checked {
  position: relative;
  background-color: #8fcdfd;
  border: 1px solid #8fcdfd;
  align-items: center;
}
.content-container .content-body .contents .check-list input[type=checkbox]:checked::after {
  position: absolute;
  display: block;
  content: "✔";
  height: 80%;
  width: 100%;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  color: white;
}
.content-container .content-body .contents .check-list .box {
  left: -5px;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  margin-left: -19px;
  background-color: transparent;
  border: 2px solid rgb(170, 170, 170);
  cursor: pointer;
}
.content-container .content-body .contents .check-list .box:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.content-container .content-body .contents .react-draggable {
  transform: none !important;
}
.content-container .content-body .contents .element-setting-hovering-buttons {
  position: absolute;
  top: -45px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  display: flex;
  padding: 6px;
}
.content-container .content-body .contents .element-setting-hovering-buttons .button {
  color: inherit;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.content-container .content-body .contents .element-setting-hovering-buttons .button .MuiSvgIcon-root {
  width: 100%;
  height: 100%;
}
.content-container .content-body .contents .element-setting-hovering-buttons .button svg {
  width: 100%;
  height: 100%;
}
.content-container .content-body .contents .element-setting-hovering-buttons .black .MuiSvgIcon-root {
  fill: black;
  stroke: black;
}
.content-container .content-body .contents .element-setting-hovering-buttons .black svg {
  fill: black;
  stroke: black;
}
.content-container .content-body .contents .element-setting-hovering-buttons .gray .MuiSvgIcon-root {
  fill: #a1a1a1;
}
.content-container .content-body .contents .element-setting-hovering-buttons .gray svg {
  fill: #a1a1a1;
}
.content-container .content-body .contents .element-setting-hovering-buttons .inactive {
  color: rgb(161, 161, 161);
}
.content-container .content-body .contents .image-adjust-button {
  position: absolute;
  top: -45px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  display: flex;
  padding: 6px;
}
.content-container .content-body .contents .image-adjust-button .button {
  color: inherit;
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.content-container .content-body .contents .image-adjust-button .button .MuiSvgIcon-root {
  width: 100%;
  height: 100%;
}
.content-container .content-body .contents .image-adjust-button .inactive {
  color: rgb(161, 161, 161);
}
.content-container .content-body .contents .image-resize-dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #fcfcfc;
  border: 1.5px solid black;
  position: absolute;
}
.content-container .content-body .contents .caption {
  margin-top: 2px;
  text-align: center;
  border: unset;
  font-size: 14px;
  padding: 0px;
  color: rgb(161, 161, 161);
  user-select: none;
}
.content-container .content-body .contents .caption:focus {
  border: auto;
}
.content-container .content-body .contents .caption:hover {
  user-select: auto;
}
.content-container .content-body .contents .link {
  color: rgb(104, 104, 104);
  border-bottom: 1px solid rgb(104, 104, 104);
}
.content-container .content-body .contents .link.selected {
  border: 2px solid rgb(176, 176, 176);
  border-radius: 2px;
}
.content-container .content-body .contents .code {
  position: relative;
  padding: 30px;
  border-radius: 3px;
  background: #f3f3f3;
}
.content-container .content-body .contents .code .change-language-button {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 3px;
  color: #868686;
  transition: color 0.3s;
  user-select: none;
}
.content-container .content-body .contents .code .code-content {
  font-family: "Fira Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}
.content-container .content-body .contents .callout {
  position: relative;
  padding: 16px;
  border-radius: 3px;
  background: rgb(239, 240, 241);
  display: flex;
  flex-direction: row;
}
.content-container .content-body .contents .callout .emoji {
  width: 29px;
  height: 29px;
  min-width: 29px;
  padding: 2px;
  margin: 0px;
  user-select: none;
  user-focus: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
}
.content-container .content-body .contents .callout .emoji:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.content-container .content-body .contents .callout .emoji-picker-react {
  user-select: none;
  user-focus: none;
}
.content-container .content-body .contents .divider-container {
  position: relative;
  width: 100%;
  height: 2em;
  user-select: none;
}
.content-container .content-body .contents .divider-container .divider {
  position: absolute;
}
.content-container .content-body .contents .divider-container .line-divider {
  margin-top: calc(1em - 0.5px);
  margin-bottom: calc(1em - 0.5px);
  height: 1px;
}
.content-container .content-body .contents .divider-container .long-line-divider {
  background-color: rgb(55, 53, 47);
  width: 90%;
  margin-left: 5%;
}
.content-container .content-body .contents .divider-container .faint-long-line-divider {
  background-color: rgb(180, 180, 180);
  width: 90%;
  margin-left: 5%;
}
.content-container .content-body .contents .divider-container .short-line-divider {
  background-color: rgb(55, 53, 47);
  width: 20%;
  margin-left: 40%;
}
.content-container .content-body .contents .divider-container .faint-short-line-divider {
  background-color: rgb(180, 180, 180);
  width: 20%;
  margin-left: 40%;
}
.content-container .content-body .contents .divider-container .dot-divider {
  width: 10%;
  margin-left: 45%;
  margin-top: calc(1em - 2.5px);
  margin-bottom: calc(1em - 2.5px);
  height: 5px;
  display: flex;
}
.content-container .content-body .contents .divider-container .dot-divider .dot {
  background-color: rgb(55, 53, 47);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
.content-container .content-body .contents .divider-container .dot-divider .dot-1 {
  margin-right: calc(50% - 7.5px);
}
.content-container .content-body .contents .divider-container .dot-divider .dot-3 {
  margin-left: calc(50% - 7.5px);
}
.content-container .content-body .contents .document {
  position: relative;
  margin: 10px;
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 3px;
}
.content-container .content-body .contents .document .icon {
  width: fit-content;
  height: fit-content;
  padding: 2.5px;
  font-size: 1em;
  margin: 0px;
}
.content-container .content-body .contents .document .text {
  color: rgb(104, 104, 104);
  text-decoration: underline;
  font-size: 1em;
}
.content-container .content-body .contents .document:hover {
  background: rgb(236, 236, 236);
}
.content-container .content-footer {
  width: 100%;
  height: 20vh;
  cursor: text;
}
.content-container .mobile-toolbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid #C9CDD2;
}
.content-container .mobile-toolbar .content {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}
.content-container .mobile-toolbar .content .MuiSvgIcon-root {
  color: #6C7177;
}
.content-container .mobile-toolbar .content .text {
  color: #6C7177;
  font-weight: 500;
}

.command-drawer .group {
  background-color: unset;
  margin-bottom: 20px;
}
.command-drawer .group .group-name {
  font-size: 14px;
  color: #9DA7B0;
  margin-left: 8px;
}
.command-drawer .command-drawer-command-block {
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  padding-left: 15px;
  width: 100%;
  height: 65px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-top: 1px solid #E8EBED;
  background-color: #fdfdfd;
}
.command-drawer .command-drawer-command-block .container {
  display: flex;
}
.command-drawer .command-drawer-command-block .container .command-img {
  position: static;
  width: 45px;
  top: 8.33%;
  bottom: 8.33%;
  background: #FFFFFF;
  border: 1px solid #ECEFF2;
  box-sizing: border-box;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.command-drawer .command-drawer-command-block .container .text-container {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.command-drawer .command-drawer-command-block .container .text-container .name {
  position: static;
  left: 0px;
  top: 0%;
  bottom: 55.56%;
  color: #454C53;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  margin: 0px;
  margin-bottom: 4px;
}
.command-drawer .command-drawer-command-block .container .text-container .description {
  left: 0px;
  top: 55.56%;
  bottom: 0%;
  color: #72787F;
  height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.command-drawer .command-drawer-command-block:last-child {
  border-bottom: 1px solid #E8EBED;
}

.content-container::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.content-body::-webkit-scrollbar {
  width: 10px;
}

@media (max-width: 800px) {
  .content-body::-webkit-scrollbar {
    width: 5px;
  }
}
.content-body::-webkit-scrollbar-track {
  background: #e7e7e7;
}

.content-body::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 5px;
}

/*# sourceMappingURL=contents.css.map */
