html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
    helvetica, 'Apple SD Gothic Neo', sans-serif;
    color: rgb(34, 36, 38)
}
.drawer {
    width: 240px;
    flex-shrink: 0;
    .MuiDrawer-paper {
        width: 240px;
    }
    .MuiListItemText-primary {
        font-size: 0.9rem;
    }
    .MuiListItemIcon-root {
        min-width: 40px;
    }
}
.content {
    width: 800px;
    margin: auto;
    margin-top: 150px;
    .title {
        font-size: 50px;
        font-weight: 800;
    }
}