html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    font-family: Pretendard;
    color: rgb(55, 53, 47);
    font-size: 1rem;
    background-color: #FAFAFB;
}
::-moz-selection {
    background: #D6E6F6 !important;
    color: rgb(55, 53, 47) !important;
 }
::selection {
    background: #D6E6F6 !important;
    color: rgb(55, 53, 47) !important;
}
.menu-background {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
}


.notification-list {
    .MuiPaper-root {
        border: 1px solid rgb(226, 226, 226);
        .MuiList-root {
            width: 100%;
            padding: 6px 0px;
        }
        .MuiMenuItem-root {
            white-space: unset;
        }
        p {
            margin: 0px;
        }
        .label {
            margin: 5px 11px;
            color: rgb(119, 119, 119);
            font-size: 15px;
            font-weight: 600;
        }
        .notification-label-container {
            display: flex;
            width: 100%;
            .check-all-notification-button {
                cursor: pointer;
                font-size: 0.8rem;
                line-height: 0.8rem;
                padding: 7px 8px;
                border-radius: 5px;
                margin: 5px;
                margin-left: 220px;
                background-color: transparent;
                color: inherit;
                border: 1px solid #bebebe;
            }
            .check-all-notification-button:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
        .notification-block {
            display: flex;
            .avatar-part {
                width: 40px;
                height: 100%;
            }
            .view-part {
                display: flex;
                .msg-container {
                    margin-left: 10px;
                    .msg {
                        font-size: 0.95rem;
                        word-break: break-all;
                    }
                    .createdAt {
                        font-size: 0.8rem;
                    }
                }
            }
            .interaction {
                display: flex;
                margin-left: 5px;
                .button {
                    cursor: pointer;
                    font-size: 0.8rem;
                    line-height: 0.8rem;
                    padding: 7px 20px;
                    border-radius: 5px;
                    margin: 5px;
                }
                .accept {
                    background: #0095f6;
                    color: #ffffff;
                    font-weight: 600;
                    border: 1px solid transparent;
                }
                .reject {
                    cursor: pointer;
                    background-color: transparent;
                    color: inherit;
                    border: 1px solid #bebebe;
                }
            }
        }
        .notification-not-exists {
            .text {
                margin: 11px;
            }
        }
    }
}

.index-body {
    position: fixed;
    width: 100%;
    //overflow-y: scroll;
    display: flex;
}
.index-body::-webkit-scrollbar {
    width: 10px;
}
.index-body::-webkit-scrollbar-track {
    background: #e7e7e7;
}
.index-body::-webkit-scrollbar-thumb {
    background: rgb(209, 209, 209);
    border-radius: 5px;
}
.ant-notification {
    margin-right: 12px;
}
.ant-notification-notice-message {
    margin-bottom: 0px !important;
    line-height: 40px;
    margin-left: 64px !important;
    font-family: Pretendard !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}
.ant-notification-message {
    line-height: 40px;
}

.contextMenu {
    position: fixed;
    background: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 8px;

    &--option {
        padding: 6px 50px 5px 10px;
        min-width: 184px;
        cursor: pointer;
        font-size: 0.9rem;
        border-radius: 4px;
        &:hover {
            background: #F2F3F5;
        }
    }

    &--separator {
        width: 100%;
        height: 1px;
        background: #CCCCCC;
        margin: 0 0 0 0;
    }
}
.drag-ghost-parent {
    background: transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -2;
}
.ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.1);
}
.modal {
    p {
        margin: 0px;
    }
    .ant-input-textarea {
        margin-top: 20px;
    }
    .ant-modal-content {
        padding: 16px;
        border-radius: 4px;
    }
    .ant-modal-header {
        padding: 0px;
        border-bottom: none;
        .ant-modal-title {
            color: #242425;
            font-weight: 700;
            font-size: 20px;
        }
    }
    .ant-modal-body {
        margin-top: 16px;
        padding: 0px;
        .desc {
            font-family: 'Pretendard';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
        .ant-input-textarea::after {
            font-weight: 400;
            font-size: 12px;
            color: #3A3C3F;
        }
        .ant-input {
            border: 1px solid #DCE1E5;
            border-radius: 10px;
            padding: 16px 12px;
            margin-bottom: 8px;
        }
        .modal-buttons {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 32px;
        }
    }
}

.link-modal {
    .bookmark {
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #ECEFF2;
        height: min-content;
        overflow: auto;
        margin: 10px 0px;
        .text-container {
            display: flex;
            flex-direction: column;
            width: 70%;
            padding: 16px 24px 16px 16px;
            font-size: 15px;
            line-height: 15px;
            .title {
                margin-bottom: 10px;
                user-select: none;
            }
            .description {
                font-size: 12px;
                text-overflow: ellipsis;
                overflow-y: hidden;
                line-height: 16px;
                max-height: 32px;
                color: #7e7e7e;
                margin-bottom: 10px;
                user-select: none;
            }
            .url-container {
                display: flex;
                flex-direction: row;
                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                }
                .url {
                    white-space: nowrap;
                    line-height: 16px;
                    overflow-x: hidden;
                    font-size: 12px;
                    user-select: none;
                    text-overflow: ellipsis;
                }
            }
        }
        .image-container {
            width: 30%;
            position: relative;
            max-height: 100%;
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 1px;
            }
        }
    }
}

.support-modal {
    p {
        margin: 0px;
    }
    .ant-input-textarea {
        margin-top: 20px;
    }
    .ant-modal-content {
        padding: 16px;
        border-radius: 4px;
    }
    .ant-modal-header {
        padding: 0px;
        border-bottom: none;
        .ant-modal-title {
            color: #242425;
            font-weight: 700;
            font-size: 20px;
        }
    }
    .ant-modal-body {
        margin-top: 16px;
        padding: 0px;
        .desc {
            font-family: 'Pretendard';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }
        .ant-input-textarea::after {
            font-weight: 400;
            font-size: 12px;
            color: #3A3C3F;
        }
        .ant-input {
            border: 1px solid #DCE1E5;
            border-radius: 10px;
            padding: 16px 12px;
            margin-bottom: 8px;
        }
        .modal-buttons {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 32px;
        }
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dialog {
    .dialog-title {
        .MuiTypography-root {
            font-family: Pretendard;
        }
    }
    .dialog-content {
        pre {
            font-family: Pretendard;
            overflow: hidden;
            color: #72787F;
        }
    }
}

.button {
    display: flex;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s;

    .text {
        font-family: Pretendard;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        margin: auto auto;
        user-select: none;
    }
}
.button.primary {
    background: #3A7BBF;
    color: #FFFFFF;
    &:hover {
        background: #2E639A;
    }
    &:active {
        background: #183451;
    }
}
.button.primary-stroke {
    background: #FFFFFF;
    color: #2E639A;
    &:hover {
        background: #E8EBED;
    }
    &:active {
        background: #D6E6F6;
    }
}

